@font-face { font-family: Bebas; 
    src: url(Fonts/Bebas-Regular.ttf) format("truetype"); 
}

@font-face { font-family: Code39; 
    src: url(Fonts/Code39r.ttf) format("truetype"); 
}

@font-face { font-family: Monocode; 
    src: url(Fonts/Monocode.ttf) format("truetype"); 
}

@font-face { font-family: The BoldFont; 
    src: url(Fonts/THEBOLDFONT.ttf) format("truetype"); 
}

@font-face { font-family: StretchPro;
    src: url(Fonts/StretchPro.otf) format("opentype");
}

@font-face {
    font-family: AlteHaasGrotesk;
    src: url(Fonts/AlteHaasGroteskRegular.ttf)format("truetype");
}

body {
    margin: 0;
    background: rgb(255, 255, 255);
    
}

.topbar {
    cursor: cell;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.toplogo {
    font-family: "Bebas",sans-serif;
    font-size: 1cm;
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
}

.tinfoh0 { /* BARCODE TEXT */
    font-family: "Code39",sans-serif;
    font-size: 1cm;
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 18px;
    margin-top: 5px;
    border: 10cm;
    shape-outside:border-box;
    transition: all 0.2s; /* transition duration */
}

.tinfoh0:hover {
    font-family: "Monocode",sans-serif;
    margin-top: 10px;
    opacity: 0.5;
}

.header {
    font-family: "StretchPro",sans-serif;
}

.slot {
    background-color: white;
    width: 400px;
    max-width: 50%;
    height: 10px;
    position: left;
    max-height: 10%;
    padding-bottom: 20%;
    border-radius: 10px;
    margin: 15px;
}

.typewriter h1{
    width: auto;
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(100, end),
               blink-caret .75s step-end infinite;
  }
  
  @keyframes typing{
    from {max-width: 0}
    to {max-width: 100%}
  }
  
  @keyframes blink-caret{
    from, to {border-color: transparent}
    50% {border-color: black}
  }