@font-face { font-family: Bebas; 
    src: url(Fonts/Bebas-Regular.ttf) format("truetype"); 

} 
body {
    margin: 0;
    background: rgb(255, 255, 255);
    text-align: center;
}

.topbar {
    background: rgb(12, 12, 12,0.5);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.toplogo {
    font-family: "Bebas",sans-serif;
    font-size: 1cm;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}
.main {
    margin-top: 73px; /* Add a top margin to avoid content overlay */
    background: rgb(205, 205, 211);
}